In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('ALL_TEAMS_STATS_v02.csv')

In [3]:
df

,TEAM_1,TEAM_2,NO_OF_MATCHES,TEAM_1_WIN_COUNT,TEAM_2_WIN_COUNT,TEAM_1_OVERTIME_WINS,TEAM_2_OVERTIME_WINS,AVG_TEAM_1_PENALTIES,AVG_TEAM_2_PENALTIES,TEAM_1_PLAYOFF_WINS,TEAM_2_PLAYOFF_WINS,TEAM_1_AVG_GOALS_PER_MATCH,TEAM_2_AVG_GOALS_PER_MATCH,TEAM_1_AVG_GOAL_PERCENTAGE,TEAM_2_AVG_GOAL_PERCENTAGE
0,BUF,WPG,24,10,14,2,1,3.333333,4.250000,0,0,2.250000,2.916667,0.071975,0.094776
1,BUF,NYI,52,18,34,4,7,3.076923,3.711538,0,0,2.365385,3.019231,0.080823,0.096616
2,CBJ,DAL,46,27,19,7,2,3.934783,3.826087,0,0,2.565217,2.630435,0.094031,0.090110
3,DET,OTT,39,20,19,5,3,4.564103,4.435897,0,0,2.717949,2.846154,0.092206,0.091076
4,ARI,NJD,5,2,3,1,1,4.400000,4.600000,0,0,3.000000,3.800000,0.134097,0.109570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281,NJD,OTT,6,4,2,2,1,2.666667,2.500000,0,0,3.500000,3.000000,0.098417,0.108905
1282,N.J,NSH,1,1,0,0,0,6.000000,4.000000,0,0,3.000000,1.000000,0.085714,0.029412
1283,ATL,CHI,2,0,2,0,1,2.500000,4.500000,0,0,2.500000,3.500000,0.067568,0.103571
1284,LAK,TBL,4,1,3,0,1,3.750000,3.250000,0,0,3.000000,4.000000,0.092605,0.155000
1285,ATL,ARI,1,0,1,0,0,1.000000,3.000000,0,0,3.000000,4.000000,0.083333,0.125000

In [4]:
ratings=pd.read_csv('Ratings.csv')

In [5]:
ratings=pd.read_csv('Ratings.csv')
ratings['HOME_TEAM']=ratings['HOME_TEAM'].str.replace('.', '',regex=False)
ratings.set_index('HOME_TEAM',inplace=True)
ratings.loc['FLA']

Unnamed: 0          0.00000
HOME_TEAM_INDEX     0.00000
Rating             85.29458
Name: FLA, dtype: float64

In [6]:
df['TEAM_1']=df['TEAM_1'].str.replace('.', '',regex=False)
df['TEAM_2']=df['TEAM_2'].str.replace('.', '',regex=False)

In [7]:
def rater(x):
    return ratings.loc[x]['Rating']
def win_predictor(x):
    c=x['H_Rating']-x['A_Rating']+ratings.loc['HT_ADV']['Rating']
    if c>0:
        return 'Yes'
    else:
        return 'No'
df['H_Rating']=df['TEAM_1'].apply(rater)
df['A_Rating']=df['TEAM_2'].apply(rater)
df['P_Win']=df.apply(win_predictor,axis=1)

In [8]:
df

,TEAM_1,TEAM_2,NO_OF_MATCHES,TEAM_1_WIN_COUNT,TEAM_2_WIN_COUNT,TEAM_1_OVERTIME_WINS,TEAM_2_OVERTIME_WINS,AVG_TEAM_1_PENALTIES,AVG_TEAM_2_PENALTIES,TEAM_1_PLAYOFF_WINS,TEAM_2_PLAYOFF_WINS,TEAM_1_AVG_GOALS_PER_MATCH,TEAM_2_AVG_GOALS_PER_MATCH,TEAM_1_AVG_GOAL_PERCENTAGE,TEAM_2_AVG_GOAL_PERCENTAGE,H_Rating,A_Rating,P_Win
0,BUF,WPG,24,10,14,2,1,3.333333,4.250000,0,0,2.250000,2.916667,0.071975,0.094776,84.962344,85.187908,No
1,BUF,NYI,52,18,34,4,7,3.076923,3.711538,0,0,2.365385,3.019231,0.080823,0.096616,84.962344,85.325243,No
2,CBJ,DAL,46,27,19,7,2,3.934783,3.826087,0,0,2.565217,2.630435,0.094031,0.090110,83.606052,85.684373,No
3,DET,OTT,39,20,19,5,3,4.564103,4.435897,0,0,2.717949,2.846154,0.092206,0.091076,84.542698,84.905254,No
4,ARI,NJD,5,2,3,1,1,4.400000,4.600000,0,0,3.000000,3.800000,0.134097,0.109570,84.102133,85.707126,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281,NJD,OTT,6,4,2,2,1,2.666667,2.500000,0,0,3.500000,3.000000,0.098417,0.108905,85.707126,84.905254,Yes
1282,NJ,NSH,1,1,0,0,0,6.000000,4.000000,0,0,3.000000,1.000000,0.085714,0.029412,84.994862,84.828324,Yes
1283,ATL,CHI,2,0,2,0,1,2.500000,4.500000,0,0,2.500000,3.500000,0.067568,0.103571,84.994862,83.784922,Yes
1284,LAK,TBL,4,1,3,0,1,3.750000,3.250000,0,0,3.000000,4.000000,0.092605,0.155000,85.226687,85.320301,Yes
1285,ATL,ARI,1,0,1,0,0,1.000000,3.000000,0,0,3.000000,4.000000,0.083333,0.125000,84.994862,84.102133,Yes

CREATE (n:Node {id:1});

MATCH (n:Node)
DELETE n;

(lebron)-[:PLAYS_FOR {salary: 40000000}]-> (lakers),

In [9]:
teams=df['TEAM_1'].append(df['TEAM_2'], ignore_index=True).drop_duplicates()

/var/folders/24/s0t2htkj4ns689m4x6zy50jw0000gn/T/ipykernel_44198/3550473198.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams=df['TEAM_1'].append(df['TEAM_2'], ignore_index=True).drop_duplicates()

In [13]:
def write_series_to_file():
    with open('series.txt', 'w') as file:
        file.write('match (n) detach delete n;'+'\n')
        file.write('CREATE'+'\n')
        for element in teams:
            file.write('('+str(element)+':TEAM{name:"'+str(element) +'"}),'+ '\n')
        for index, row in df.iterrows():
            file.write('('+str(row['TEAM_1'])+')-[:VS {Matches: '+str(row['NO_OF_MATCHES'])+',Wins: '+str(row['TEAM_1_WIN_COUNT'])+',Losses: '+str(row['TEAM_2_WIN_COUNT'])+',OT_Wins: '+str(row['TEAM_1_OVERTIME_WINS'])+',OT_Losses: '+str(row['TEAM_2_OVERTIME_WINS'])+',Playoff_Wins: '+str(row['TEAM_1_PLAYOFF_WINS'])+',Playoff_Losses: '+str(row['TEAM_2_PLAYOFF_WINS'])+',Avg_Goals_Scored: '+str(row['TEAM_1_AVG_GOALS_PER_MATCH'])+',Avg_Goals_Taken: '+str(row['TEAM_2_AVG_GOALS_PER_MATCH'])+',Our_Rating: '+str(row['H_Rating'])+',Opponent_Rating: '+str(row['A_Rating'])+',Predicted_to_Win: "'+str(row['P_Win'])+'"}]->('+str(row['TEAM_2'])+'),'+'\n')
        file.write(';')

In [11]:
write_series_to_file()
with open('series.txt', 'r') as file:
    content = file.read()

# Truncate the file and write modified content (excluding the last character)
with open('series.txt', 'w') as file:
    file.write(content[:-3]+';')