In [2]:
from scipy.optimize import minimize
import pandas as pd

In [3]:
df_ini=pd.read_csv('All_Games_Stats.csv',names=['GAMEID','GAMEDATE','HOME_TEAM','HOME_TEAM_INDEX','AWAY_TEAM','AWAY_TEAM_INDEX','HOME_TEAM_SCORE','AWAY_TEAM_SCORE','OVERTIME_FLAG'],skiprows=2)

In [4]:
df=df_ini[df_ini['GAMEID'].astype(str).str.startswith('2022')]

In [5]:
df["ACTUAL_SPREAD"]=df["HOME_TEAM_SCORE"]-df["AWAY_TEAM_SCORE"]
df.reset_index(inplace=True)

/var/folders/24/s0t2htkj4ns689m4x6zy50jw0000gn/T/ipykernel_36600/1651319750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ACTUAL_SPREAD"]=df["HOME_TEAM_SCORE"]-df["AWAY_TEAM_SCORE"]

In [6]:
x=[0]*38

In [7]:
n=df.shape[0]

In [8]:
def o(x):
    sse=0
    for i in range(n):
        p_s=x[df['HOME_TEAM_INDEX'][i]-1]-x[df['AWAY_TEAM_INDEX'][i]-1]+x[37]
        p_e=df['ACTUAL_SPREAD'][i]-p_s
        p_es=p_e**2
        sse+=p_es
    return sse
def c(x):
    a=0
    for i in range(37):
        a+=x[i]
    av=a/37
    return 85-av

In [9]:
const1 = {'type':'eq', 'fun': c}
cons=[const1]

In [10]:
optNLP = minimize(o,[85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,2],tol=1e-8,constraints=cons)

In [11]:
optNLP.x

array([85.29996889, 85.23207974, 85.71251557, 85.32569569, 83.79031271,
       85.03007145, 84.62955574, 84.99996121, 84.99996121, 85.67868152,
       85.83104157, 84.3500279 , 84.99996121, 85.33063554, 84.1292624 ,
       85.43980297, 84.46080182, 84.0902301 , 84.9975553 , 85.19329924,
       85.68976688, 84.99996121, 85.18690291, 85.67733229, 83.35710476,
       85.78332642, 85.58663291, 84.96773564, 84.10752438, 84.91064407,
       84.9217776 , 83.6114396 , 84.8337153 , 86.50537468, 84.5480908 ,
       85.79128753, 84.99996121,  0.19801117])

In [12]:
r=pd.Series(optNLP.x)

In [13]:
optNLP.fun

8415.814444059477

In [14]:
df['PREDICTED_SPREAD']=0
for i in range(n):
    df['PREDICTED_SPREAD'][i]=r[df['HOME_TEAM_INDEX'][i]-1]-r[df['AWAY_TEAM_INDEX'][i]-1]+r[37]
df['Mult']=df['ACTUAL_SPREAD']*df['PREDICTED_SPREAD']
df['Correct_Pred']=df['Mult'].apply(lambda x: 1 if x > 0 else 0)
df['Correct_Pred'].sum()

/var/folders/24/s0t2htkj4ns689m4x6zy50jw0000gn/T/ipykernel_36600/1492133158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PREDICTED_SPREAD']=0
/var/folders/24/s0t2htkj4ns689m4x6zy50jw0000gn/T/ipykernel_36600/1492133158.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PREDICTED_SPREAD'][i]=r[df['HOME_TEAM_INDEX'][i]-1]-r[df['AWAY_TEAM_INDEX'][i]-1]+r[37]
/var/folders/24/s0t2htkj4ns689m4x6zy50jw0000gn/T/ipykernel_36600/1492133158.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mult']=df['ACTUAL_SPREAD']*df['PREDICTED_SPREAD']
/var/folders/24/s0t2htkj4ns689m4x6zy50jw0000gn/T/ipykernel_36600/1492133158.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Correct_Pred']=df['Mult'].apply(lambda x: 1 if x > 0 else 0)

879

In [15]:
r

0     85.299969
1     85.232080
2     85.712516
3     85.325696
4     83.790313
5     85.030071
6     84.629556
7     84.999961
8     84.999961
9     85.678682
10    85.831042
11    84.350028
12    84.999961
13    85.330636
14    84.129262
15    85.439803
16    84.460802
17    84.090230
18    84.997555
19    85.193299
20    85.689767
21    84.999961
22    85.186903
23    85.677332
24    83.357105
25    85.783326
26    85.586633
27    84.967736
28    84.107524
29    84.910644
30    84.921778
31    83.611440
32    84.833715
33    86.505375
34    84.548091
35    85.791288
36    84.999961
37     0.198011
dtype: float64

In [16]:
df[['HOME_Te']]

,index,GAMEID,GAMEDATE,HOME_TEAM,HOME_TEAM_INDEX,AWAY_TEAM,AWAY_TEAM_INDEX,HOME_TEAM_SCORE,AWAY_TEAM_SCORE,OVERTIME_FLAG,ACTUAL_SPREAD,PREDICTED_SPREAD,Mult,Correct_Pred
0,152,2022020056,20221019,FLA,1,PHI,12,4,3,0,1,1.147952,1.147952,1
1,153,2022020071,20221021,FLA,1,TBL,4,2,3,1,-1,0.172284,-0.172284,0
2,154,2022020090,20221023,FLA,1,NYI,14,3,2,0,1,0.167345,0.167345,1
3,155,2022020128,20221029,FLA,1,OTT,30,5,3,0,2,0.587336,1.174672,1
4,156,2022020207,20221109,FLA,1,CAR,36,3,0,0,3,-0.293307,-0.879922,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,18068,2022021129,20230321,STL,17,DET,35,2,3,1,-1,0.110722,-0.110722,0
1377,18069,2022021181,20230328,STL,17,VAN,7,6,5,1,1,0.029257,0.029257,1
1378,18070,2022021234,20230404,STL,17,PHI,12,4,2,0,2,0.308785,0.617570,1
1379,18071,2022021251,20230406,STL,17,NYR,10,3,2,1,1,-1.019869,-1.019869,0
1380,18072,2022021296,20230412,STL,17,DAL,21,2,5,0,-3,-1.030954,3.092862,1